<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginRedirectServlet</servlet-name>
        <servlet-class>cms.servlets.LoginRedirectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>cms.servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPortalCreateEditorServlet</servlet-name>
        <servlet-class>cms.servlets.AdminPortalCreateEditorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPortalMainServlet</servlet-name>
        <servlet-class>cms.servlets.AdminPortalMainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPortalCreateConferenceServlet</servlet-name>
        <servlet-class>cms.servlets.AdminPortalCreateConferenceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPortalAssignEditorServlet</servlet-name>
        <servlet-class>cms.servlets.AdminPortalAssignEditorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterAuthorServlet</servlet-name>
        <servlet-class>cms.servlets.RegisterAuthorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorPortalMainServlet</servlet-name>
        <servlet-class>cms.servlets.AuthorPortalMainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorPortalUploadFileServlet</servlet-name>
        <servlet-class>cms.servlets.AuthorPortalUploadFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaperOCRServlet</servlet-name>
        <servlet-class>cms.servlets.PaperOCRServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditorPortalMainServlet</servlet-name>
        <servlet-class>cms.servlets.EditorPortalMainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewerPortalMainServlet</servlet-name>
        <servlet-class>cms.servlets.ReviewerPortalMainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditorPortalCreateReviewerServlet</servlet-name>
        <servlet-class>cms.servlets.EditorPortalCreateReviewerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordAuthorServlet</servlet-name>
        <servlet-class>cms.servlets.ResetPasswordAuthorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditorPortalAssignReviewerServlet</servlet-name>
        <servlet-class>cms.servlets.EditorPortalAssignReviewerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditorPortalReleasePaperServlet</servlet-name>
        <servlet-class>cms.servlets.EditorPortalReleasePaperServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadPaperServlet</servlet-name>
        <servlet-class>cms.servlets.DownloadPaperServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewerPortalSendFeedbackServlet</servlet-name>
        <servlet-class>cms.servlets.ReviewerPortalSendFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewerPortalEditFeedbackServlet</servlet-name>
        <servlet-class>cms.servlets.ReviewerPortalEditFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestPortalMainServlet</servlet-name>
        <servlet-class>cms.servlets.TestPortalMainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginRedirectServlet</servlet-name>
        <url-pattern>/LoginRedirectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPortalCreateEditorServlet</servlet-name>
        <url-pattern>/AdminPortalCreateEditorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPortalMainServlet</servlet-name>
        <url-pattern>/AdminPortalMainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPortalCreateConferenceServlet</servlet-name>
        <url-pattern>/AdminPortalCreateConferenceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPortalAssignEditorServlet</servlet-name>
        <url-pattern>/AdminPortalAssignEditorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterAuthorServlet</servlet-name>
        <url-pattern>/RegisterAuthorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorPortalMainServlet</servlet-name>
        <url-pattern>/AuthorPortalMainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorPortalUploadFileServlet</servlet-name>
        <url-pattern>/AuthorPortalUploadFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaperOCRServlet</servlet-name>
        <url-pattern>/PaperOCRServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditorPortalMainServlet</servlet-name>
        <url-pattern>/EditorPortalMainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewerPortalMainServlet</servlet-name>
        <url-pattern>/ReviewerPortalMainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditorPortalCreateReviewerServlet</servlet-name>
        <url-pattern>/EditorPortalCreateReviewerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordAuthorServlet</servlet-name>
        <url-pattern>/ResetPasswordAuthorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditorPortalAssignReviewerServlet</servlet-name>
        <url-pattern>/EditorPortalAssignReviewerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditorPortalReleasePaperServlet</servlet-name>
        <url-pattern>/EditorPortalReleasePaperServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadPaperServlet</servlet-name>
        <url-pattern>/DownloadPaperServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewerPortalSendFeedbackServlet</servlet-name>
        <url-pattern>/ReviewerPortalSendFeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewerPortalEditFeedbackServlet</servlet-name>
        <url-pattern>/ReviewerPortalEditFeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestPortalMainServlet</servlet-name>
        <url-pattern>/TestPortalMainServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/projectDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <security-role>
        <description>Administrator Account</description>
        <role-name>ADMINISTRATOR</role-name>
    </security-role>

    <security-role>
        <description>Author Account</description>
        <role-name>AUTHOR</role-name>
    </security-role>

    <security-role>
        <description>Reviewer Account</description>
        <role-name>REVIEWER</role-name>
    </security-role>

    <security-role>
        <description>Editor Account</description>
        <role-name>EDITOR</role-name>
    </security-role>

    <security-role>
        <description>Test Account</description>
        <role-name>TEST</role-name>
    </security-role>

    <!-- Restrict access to all files other than index and register -->

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Login Pages</web-resource-name>
            <url-pattern>/LoginRedirectServlet</url-pattern>
        </web-resource-collection>

    <!-- Authorize admin, author, editor and reviewer roles -->

        <auth-constraint>
            <role-name>ADMINISTRATOR</role-name>
            <role-name>AUTHOR</role-name>
            <role-name>EDITOR</role-name>
            <role-name>REVIEWER</role-name>
            <role-name>TEST</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Administrator Application</web-resource-name>
            <url-pattern>/Admin/*</url-pattern>
            </web-resource-collection>
        <!-- Authorize the Administrator role -->
        <auth-constraint>
            <role-name>ADMINISTRATOR</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Author Application</web-resource-name>
            <url-pattern>/Author/*</url-pattern>
            </web-resource-collection>
        <!-- Authorize the advisor role -->
        <auth-constraint>
            <role-name>AUTHOR</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Test Application</web-resource-name>
            <url-pattern>/Test/*</url-pattern>
            </web-resource-collection>
        <!-- Authorize the advisor role -->
        <auth-constraint>
            <role-name>TEST</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Editor Application</web-resource-name>
            <url-pattern>/Editor/*</url-pattern>
        </web-resource-collection>
        <!-- Authorize the Editor role -->
        <auth-constraint>
            <role-name>EDITOR</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Reviewer Application</web-resource-name>
            <url-pattern>/Reviewer/*</url-pattern>
            </web-resource-collection>
        <!-- Authorize the Reviewer role -->
        <auth-constraint>
            <role-name>REVIEWER</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
        <form-login-page>/login/loginPage.jsp</form-login-page>
        <form-error-page>/login/login_error.jsp</form-error-page>
    </form-login-config>
    </login-config>

    -</web-app>
