<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginRedirectServlet</servlet-name>
        <servlet-class>cms.servlets.LoginRedirectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginRedirectServlet</servlet-name>
        <url-pattern>/LoginRedirectServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/projectDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <security-role>
        <description>Administrator Account</description>
        <role-name>Administrator</role-name>
    </security-role>

    <security-role>
        <description>Author Account</description>
        <role-name>Author</role-name>
    </security-role>

    <security-role>
        <description>Reviewer Account</description>
        <role-name>Reviewer</role-name>
    </security-role>

    <security-role>
        <description>Editor Account</description>
        <role-name>Editor</role-name>
    </security-role>

    <!-- Restrict access to all files other than index and register -->

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Login Pages</web-resource-name>
            <url-pattern>/LoginRedirectServlet</url-pattern>
        </web-resource-collection>

    <!-- Authorize admin, author, editor and reviewer roles -->

        <auth-constraint>
            <role-name>Administrator</role-name>
            <role-name>Author</role-name>
            <role-name>Editor</role-name>
            <role-name>Reviewer</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Administrator Application</web-resource-name>
            <url-pattern>/Admin/*</url-pattern>
            </web-resource-collection>
        <!-- Authorize the Administrator role -->
        <auth-constraint>
            <role-name>Administrator</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Author Application</web-resource-name>
            <url-pattern>/Author/*</url-pattern>
            </web-resource-collection>
        <!-- Authorize the advisor role -->
        <auth-constraint>
            <role-name>Author</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Editor Application</web-resource-name>
            <url-pattern>/Editor/*</url-pattern>
            </web-resource-collection>
        <!-- Authorize the Editor role -->
        <auth-constraint>
            <role-name>Editor</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Reviewer Application</web-resource-name>
            <url-pattern>/Editor/*</url-pattern>
            </web-resource-collection>
        <!-- Authorize the Reviewer role -->
        <auth-constraint>
            <role-name>Reviewer</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
        <form-login-page>/login/loginPage.jsp</form-login-page>
        <form-error-page>/login/login_error.jsp</form-error-page>
    </form-login-config>
    </login-config>



    -</web-app>
